.create {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.create .main {
  width: 100%;
  padding-top: 40px;
  font-family: "Ubuntu", sans-serif;
}

.create .main .header {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 30px;
  font-size: 2.3em;
}

.create .form {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
}
.create .select {
  margin-top: 20px;
}
.create .checkbox {
  margin-top: 30px;
  color: rgb(110, 108, 108);
  display: flex;
  align-items: center;
  width: 300px;
  justify-content: space-between;
}

.create .input {
  width: 300px;
  margin: 10px 0;
}
.create .addQuestion,
.addAnswer {
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  text-align: center;
  padding: 0 20px;
  font-size: 1rem;
  margin: 0 10px;
  background-color: white;
  color: black;
  cursor: pointer;
}

.create .btnWwrapper {
  display: flex;
  align-items: center;
}

.create .btnWrapper .btn {
  color: #05ab45;
  border-radius: 10px !important;
}
.create .btnWrapper .btn:first-child {
  background-color: red;
  cursor: pointer;
}
.create .question {
  display: flex;
  position: relative;
  background-color: #d3d3d3;
  padding: 12px;
  width: 90%;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
  margin: 10px 0;
  border-left: 5px solid #05ab45;
}

.create .question div {
  margin-right: 40px;
}
.create .question .delete {
  position: absolute;
  right: 20px;
  background-color: red;
  border-radius: 10px !important;
  color: white;
  padding: 8px;
  top: 5px;
  cursor: pointer;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.button {
  width: 120px;
  height: 35px;
  background-color: #05ab45;
  position: relative;
  color: #fff;
  border: 3px solid #05ab45;
  border-radius: 22px;
  transition: all 0.3s cubic-bezier(0.13, 0.71, 0.57, 1.29);
  cursor: pointer;
}
.input .input2 {
  width: 100px !important;
  margin: 10px 0;
}

@media (max-width: 768px) {
  .questionContainer {
    flex-direction: column;
  }

  .addQuestionContainer {
    width: 100%;
  }
}

/* Mobile devices */
@media only screen and (max-width: 480px) {
  .create .main .header {
    font-size: 1.8em;
  }

  .create .form {
    padding: 10px;
  }

  .create .addQuestion,
  .addAnswer {
    font-size: 0.8rem;
    padding: 0 10px;
  }

  .create .question {
    padding: 10px;
    width: 100%;
  }

  .create .question div {
    margin-right: 20px;
  }

  .input .input2 {
    width: 70px !important;
  }
}

/* Tablets */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .create .main .header {
    font-size: 2em;
  }

  .create .form {
    padding: 15px;
  }

  .create .addQuestion,
  .addAnswer {
    font-size: 1rem;
    padding: 0 15px;
  }

  .create .question {
    padding: 15px;
  }

  .create .question div {
    margin-right: 30px;
  }

  .input .input2 {
    width: 80px !important;
  }
}

/* Desktops */
@media only screen and (min-width: 769px) {
  .create .main .header {
    font-size: 2.3em;
  }

  .create .form {
    padding: 20px;
  }

  .create .addQuestion,
  .addAnswer {
    font-size: 1rem;
    padding: 0 20px;
  }

  .create .question {
    padding: 12px;
    width: 90%;
  }

  .create .question div {
    margin-right: 40px;
  }

  .input .input2 {
    width: 100px !important;
  }
}
